[submodule "xar"]
	path = xar
	url = https://github.com/packagesdev/xar
[submodule "goldin"]
	path = goldin
	url = https://github.com/packagesdev/goldin
[submodule "ohshit"]
	path = ohshit
	url = git://github.com/packagesdev/ohshit.git
