<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>all</key>
	<array>
	   <dict>
	       <key>Class</key>
	       <string>Applications</string>
	       <key>URL</key>
	       <string>https://developer.apple.com/documentation/installerjs/applications/1812212-all</string>
	   </dict>
    </array>
    <key>applications</key>
	<array>
	   <dict>
	       <key>Class</key>
	       <string>Applications</string>
	       <key>URL</key>
	       <string>https://developer.apple.com/documentation/installerjs/system/1812235-applications</string>
	   </dict>
    </array>
    <key>bundleAtPath</key>
	<array>
	   <dict>
	       <key>Class</key>
	       <string>Files</string>
	       <key>URL</key>
	       <string>https://developer.apple.com/documentation/installerjs/files/1812190-bundleatpath</string>
	   </dict>
    </array>
    <key>childrenOf</key>
	<array>
	   <dict>
	       <key>Class</key>
	       <string>IORegistry</string>
	       <key>URL</key>
	       <string>https://developer.apple.com/documentation/installerjs/ioregistry/1812215-childrenof</string>
	   </dict>
    </array>
    <key>choices</key>
	<array>
	   <dict>
	       <key>Class</key>
	       <string>Choice</string>
	       <key>URL</key>
	       <string>https://developer.apple.com/documentation/installerjs/choice</string>
	   </dict>
    </array>
    <key>compareVersions</key>
	<array>
	   <dict>
	       <key>Class</key>
	       <string>System</string>
	       <key>URL</key>
	       <string>https://developer.apple.com/documentation/installerjs/system/1812314-compareversions</string>
	   </dict>
    </array>
    <key>fileExistsAtPath</key>
	<array>
	   <dict>
	       <key>Class</key>
	       <string>Files</string>
	       <key>URL</key>
	       <string>https://developer.apple.com/documentation/installerjs/files/1812173-fileexistsatpath</string>
	   </dict>
    </array>
    <key>files</key>
	<array>
	   <dict>
	       <key>Class</key>
	       <string>Files</string>
	       <key>URL</key>
	       <string>https://developer.apple.com/documentation/installerjs/system/1812262-files</string>
	   </dict>
    </array>
    <key>fromPath</key>
	<array>
	   <dict>
	       <key>Class</key>
	       <string>IORegistry</string>
	       <key>URL</key>
	       <string>https://developer.apple.com/documentation/installerjs/ioregistry/1812172-frompath</string>
	   </dict>
    </array>
    <key>fromPID</key>
	<array>
	   <dict>
	       <key>Class</key>
	       <string>Applications</string>
	       <key>URL</key>
	       <string>https://developer.apple.com/documentation/installerjs/applications/1812189-frompid</string>
	   </dict>
    </array>
    <key>fromIdentifier</key>
	<array>
	   <dict>
	       <key>Class</key>
	       <string>Applications</string>
	       <key>URL</key>
	       <string>https://developer.apple.com/documentation/installerjs/applications/1812198-fromidentifier</string>
	   </dict>
    </array>
    <key>gestalt</key>
	<array>
	   <dict>
	       <key>Class</key>
	       <string>System</string>
	       <key>URL</key>
	       <string>https://developer.apple.com/documentation/installerjs/system/1812304-gestalt</string>
	   </dict>
    </array>
    <key>ioregistry</key>
	<array>
	   <dict>
	       <key>Class</key>
	       <string>IORegistry</string>
	       <key>URL</key>
	       <string>https://developer.apple.com/documentation/installerjs/ioregistry</string>
	   </dict>
    </array>
    <key>localizedStandardString</key>
	<array>
	   <dict>
	       <key>Class</key>
	       <string>System</string>
	       <key>URL</key>
	       <string>https://developer.apple.com/documentation/installerjs/system/1812330-localizedstandardstring</string>
	   </dict>
    </array>
    <key>localizedStandardStringWithFormat</key>
	<array>
	   <dict>
	       <key>Class</key>
	       <string>System</string>
	       <key>URL</key>
	       <string>https://developer.apple.com/documentation/installerjs/system/1812327-localizedstringwithformat</string>
	   </dict>
    </array>
    <key>localizedString</key>
	<array>
	   <dict>
	       <key>Class</key>
	       <string>System</string>
	       <key>URL</key>
	       <string>https://developer.apple.com/documentation/installerjs/system/1812321-localizedstring</string>
	   </dict>
    </array>
    <key>localizedStringWithFormat</key>
	<array>
	   <dict>
	       <key>Class</key>
	       <string>System</string>
	       <key>URL</key>
	       <string>https://developer.apple.com/documentation/installerjs/system/1812327-localizedstringwithformat</string>
	   </dict>
    </array>
    <key>log</key>
	<array>
	   <dict>
	       <key>Class</key>
	       <string>System</string>
	       <key>URL</key>
	       <string>https://developer.apple.com/documentation/installerjs/system/1812348-log</string>
	   </dict>
    </array>
    <key>matchingClass</key>
	<array>
	   <dict>
	       <key>Class</key>
	       <string>IORegistry</string>
	       <key>URL</key>
	       <string>https://developer.apple.com/documentation/installerjs/ioregistry/1812186-matchingclass</string>
	   </dict>
    </array>
    <key>matchingName</key>
	<array>
	   <dict>
	       <key>Class</key>
	       <string>IORegistry</string>
	       <key>URL</key>
	       <string>https://developer.apple.com/documentation/installerjs/ioregistry/1812200-matchingname</string>
	   </dict>
    </array>
    <key>parentsOf</key>
	<array>
	   <dict>
	       <key>Class</key>
	       <string>IORegistry</string>
	       <key>URL</key>
	       <string>https://developer.apple.com/documentation/installerjs/ioregistry/1812225-parentsof</string>
	   </dict>
    </array>
    <key>plistAtPath</key>
	<array>
	   <dict>
	       <key>Class</key>
	       <string>Files</string>
	       <key>URL</key>
	       <string>https://developer.apple.com/documentation/installerjs/files/1812182-plistatpath</string>
	   </dict>
    </array>
    <key>propertiesOf</key>
	<array>
	   <dict>
	       <key>Class</key>
	       <string>System</string>
	       <key>URL</key>
	       <string>https://developer.apple.com/documentation/installerjs/system/1812294-propertiesof</string>
	   </dict>
    </array>
    <key>receiptForIdentifier</key>
	<array>
	   <dict>
	       <key>Class</key>
	       <string>Target</string>
	       <key>URL</key>
	       <string>https://developer.apple.com/documentation/installerjs/target/1812064-receiptforidentifier</string>
	   </dict>
    </array>
    <key>result</key>
	<array>
	   <dict>
	       <key>Class</key>
	       <string>Result</string>
	       <key>URL</key>
	       <string>https://developer.apple.com/documentation/installerjs/result</string>
	   </dict>
    </array>
    <key>run</key>
	<array>
	   <dict>
	       <key>Class</key>
	       <string>System</string>
	       <key>URL</key>
	       <string>https://developer.apple.com/documentation/installerjs/system/1812364-run</string>
	   </dict>
    </array>
    <key>runOnce</key>
	<array>
	   <dict>
	       <key>Class</key>
	       <string>System</string>
	       <key>URL</key>
	       <string>https://developer.apple.com/documentation/installerjs/system/1812367-runonce</string>
	   </dict>
    </array>
    <key>sysctl</key>
	<array>
	   <dict>
	       <key>Class</key>
	       <string>System</string>
	       <key>URL</key>
	       <string>https://developer.apple.com/documentation/installerjs/system/1812308-sysctl</string>
	   </dict>
    </array>
    <key>system</key>
	<array>
	   <dict>
	       <key>Class</key>
	       <string>System</string>
	       <key>URL</key>
	       <string>https://developer.apple.com/documentation/installerjs/system</string>
	   </dict>
    </array>
    <key>target</key>
	<array>
	   <dict>
	       <key>Class</key>
	       <string>Target</string>
	       <key>URL</key>
	       <string>https://developer.apple.com/documentation/installerjs/target</string>
	   </dict>
    </array>
</dict>
</plist>
