// Shared Configuration Settings for Packages Xcode Projects

#include "CodeSigningConfigurationSettings.xcconfig"

// Intel 64-bit + ARM (when supported by Xcode)

ARCHS = $(ARCHS_STANDARD)

// Hardened Runtime

ENABLE_HARDENED_RUNTIME = YES

// Use Latest OS X SDK

SDKROOT = macosx

// Deployment Target

MACOSX_DEPLOYMENT_TARGET = 10.12
MACOSX_DEPLOYMENT_TARGET[arch=arm64] = 11.0

//

COPY_PHASE_STRIP[config=Debug] = NO
COPY_PHASE_STRIP = YES
ALWAYS_SEARCH_USER_PATHS = NO
