<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>OPTIONS_TREE</key>
    <dict>
		<key>ID</key>
		<string>installer-script</string>
		<key>CHILDREN</key>
		<array>
			<dict>
				<key>ID</key>
				<string>installer-script:minSpecVersion</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>installer-script:verifiedSpecVersion</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>installer-script:maxSpecVersion</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>installer-script.options</string>
				<key>CHILDREN</key>
				<array>
					<dict>
						<key>ID</key>
						<string>installer-script.options:hostArchitectures</string>
					</dict>
					<dict>
						<key>ID</key>
						<string>installer-script.options:allow-external-scripts</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>ID</key>
				<string>installer-script.options.platforms</string>
				<key>CHILDREN</key>
				<array>
					<dict>
						<key>ID</key>
						<string>installer-script.options.platforms.client</string>
						<key>CHILDREN</key>
						<array>
							<dict>
								<key>ID</key>
								<string>installer-script.options.platforms.client:arch</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>ID</key>
						<string>installer-script.options.platforms.server</string>
						<key>CHILDREN</key>
						<array>
							<dict>
								<key>ID</key>
								<string>installer-script.options.platforms.server:arch</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>ID</key>
				<string>installer-script.product</string>
				<key>CHILDREN</key>
				<array>
					<dict>
						<key>ID</key>
						<string>installer-script.product:id</string>
					</dict>
					<dict>
						<key>ID</key>
						<string>installer-script.product:version</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>ID</key>
				<string>installer-script.domains</string>
				<key>CHILDREN</key>
				<array>
					<dict>
						<key>ID</key>
						<string>installer-script.domains:enable_anywhere</string>
					</dict>
					<dict>
						<key>ID</key>
						<string>installer-script.domains:enable_localSystem</string>
					</dict>
					<dict>
						<key>ID</key>
						<string>installer-script.domains:enable_currentUserHome</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
    <key>OPTIONS_DESCRIPTION</key>
    <dict>
        <key>installer-script</key>
        <dict>
           <key>TYPE</key>
           <string>Header</string>
           <key>TITLE</key>
           <string>installer-script</string>
        </dict>
        <key>installer-script:minSpecVersion</key>
        <dict>
           <key>TYPE</key>
           <string>String</string>
           <key>TITLE</key>
           <string>minSpecVersion</string>
        </dict>
        <key>installer-script:verifiedSpecVersion</key>
        <dict>
           <key>TYPE</key>
           <string>String</string>
           <key>TITLE</key>
           <string>verifiedSpecVersion</string>
        </dict>
        <key>installer-script:maxSpecVersion</key>
        <dict>
           <key>TYPE</key>
           <string>String</string>
           <key>TITLE</key>
           <string>maxSpecVersion</string>
        </dict>
		<key>installer-script.options</key>
		<dict>
           <key>TYPE</key>
           <string>Header</string>
           <key>TITLE</key>
           <string>options</string>
        </dict>
		<key>installer-script.options:hostArchitectures</key>
		<dict>
			<key>TYPE</key>
			<string>List</string>
			<key>TITLE</key>
			<string>hostArchitectures</string>
			<key>ADVANCED_EDITOR</key>
			<true/>
			<key>EDITOR</key>
			<dict>
				<key>LABEL</key>
				<string>Supported architectures:</string>
				<key>ITEMS</key>
				<array>
					<dict>
						<key>LABEL</key>
						<string>PowerPC</string>
						<key>VALUE</key>
						<string>ppc</string>
					</dict>
					<dict>
						<key>LABEL</key>
						<string>Intel</string>
						<key>VALUE</key>
						<string>i386</string>
					</dict>
				</array>
			</dict>
        </dict>
		<key>installer-script.options:allow-external-scripts</key>
		<dict>
           <key>TYPE</key>
           <string>Boolean</string>
           <key>TITLE</key>
           <string>allow-external-scripts</string>
        </dict>
		<key>installer-script.options.platforms</key>
        <dict>
           <key>TYPE</key>
           <string>Header</string>
           <key>TITLE</key>
           <string>platforms</string>
        </dict>
		<key>installer-script.options.platforms.client</key>
        <dict>
           <key>TYPE</key>
           <string>Header</string>
           <key>TITLE</key>
           <string>client</string>
        </dict>
		<key>installer-script.options.platforms.server</key>
        <dict>
           <key>TYPE</key>
           <string>Header</string>
           <key>TITLE</key>
           <string>server</string>
        </dict>
		<key>installer-script.options.platforms.client:arch</key>
		<dict>
           <key>TYPE</key>
			<string>List</string>
			<key>TITLE</key>
			<string>arch</string>
			<key>ADVANCED_EDITOR</key>
			<true/>
			<key>EDITOR</key>
			<dict>
				<key>LABEL</key>
				<string>Supported architectures:</string>
				<key>ITEMS</key>
				<array>
					<dict>
						<key>LABEL</key>
						<string>PowerPC</string>
						<key>VALUE</key>
						<string>ppc</string>
					</dict>
					<dict>
						<key>LABEL</key>
						<string>Intel</string>
						<key>VALUE</key>
						<string>i386</string>
					</dict>
				</array>
			</dict>
        </dict>
		<key>installer-script.options.platforms.server:arch</key>
		<dict>
			<key>TYPE</key>
			<string>List</string>
			<key>TITLE</key>
			<string>arch</string>
			<key>ADVANCED_EDITOR</key>
			<true/>
			<key>EDITOR</key>
			<dict>
				<key>LABEL</key>
				<string>Supported architectures:</string>
				<key>ITEMS</key>
				<array>
					<dict>
						<key>LABEL</key>
						<string>PowerPC</string>
						<key>VALUE</key>
						<string>ppc</string>
					</dict>
					<dict>
						<key>LABEL</key>
						<string>Intel</string>
						<key>VALUE</key>
						<string>i386</string>
					</dict>
				</array>
			</dict>
        </dict>
        <key>installer-script.product</key>
        <dict>
           <key>TYPE</key>
           <string>Header</string>
           <key>TITLE</key>
           <string>product</string>
        </dict>
        <key>installer-script.product:id</key>
        <dict>
           <key>TYPE</key>
           <string>String</string>
           <key>TITLE</key>
           <string>id</string>
        </dict>
        <key>installer-script.product:version</key>
        <dict>
           <key>TYPE</key>
           <string>String</string>
           <key>TITLE</key>
           <string>version</string>
        </dict>
		<key>installer-script.domains</key>
		<dict>
           <key>TYPE</key>
           <string>Header</string>
           <key>TITLE</key>
           <string>domains</string>
        </dict>
		<key>installer-script.domains:enable_anywhere</key>
		<dict>
           <key>TYPE</key>
           <string>Boolean</string>
           <key>BOOLEAN-DONT-SET-NO</key>
           <true/>
		   <key>TITLE</key>
           <string>any volume</string>
        </dict>
		<key>installer-script.domains:enable_localSystem</key>
		<dict>
           <key>TYPE</key>
           <string>Boolean</string>
		   <key>BOOLEAN-DONT-SET-NO</key>
           <true/>
           <key>TITLE</key>
           <string>system volume</string>
        </dict>
		<key>installer-script.domains:enable_currentUserHome</key>
		<dict>
           <key>TYPE</key>
           <string>Boolean</string>
           <key>BOOLEAN-DONT-SET-NO</key>
           <true/>
		   <key>TITLE</key>
           <string>current user's home folder</string>
        </dict>
    </dict>
</dict>
</plist>
