<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VERSION</key>
	<integer>5</integer>
	<key>HIERARCHY</key>
	<dict>
		<key>CHILDREN</key>
		<array>
			<dict>
				<key>CHILDREN</key>
				<array/>
				<key>GID</key>
				<integer>80</integer>
				<key>PATH</key>
				<string>Applications</string>
				<key>PATH_TYPE</key>
				<integer>0</integer>
				<key>PERMISSIONS</key>
				<integer>509</integer>
				<key>TYPE</key>
				<integer>1</integer>
				<key>UID</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>CHILDREN</key>
				<array>
					<dict>
						<key>CHILDREN</key>
						<array/>
						<key>GID</key>
						<integer>80</integer>
						<key>PATH</key>
						<string>Application Support</string>
						<key>PATH_TYPE</key>
						<integer>0</integer>
						<key>PERMISSIONS</key>
						<integer>493</integer>
						<key>TYPE</key>
						<integer>1</integer>
						<key>UID</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>CHILDREN</key>
						<array/>
						<key>GID</key>
						<integer>0</integer>
						<key>PATH</key>
						<string>Automator</string>
						<key>PATH_TYPE</key>
						<integer>0</integer>
						<key>PERMISSIONS</key>
						<integer>493</integer>
						<key>TYPE</key>
						<integer>1</integer>
						<key>UID</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>CHILDREN</key>
						<array/>
						<key>GID</key>
						<integer>0</integer>
						<key>PATH</key>
						<string>Documentation</string>
						<key>PATH_TYPE</key>
						<integer>0</integer>
						<key>PERMISSIONS</key>
						<integer>493</integer>
						<key>TYPE</key>
						<integer>1</integer>
						<key>UID</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>CHILDREN</key>
						<array/>
						<key>GID</key>
						<integer>0</integer>
						<key>PATH</key>
						<string>Extensions</string>
						<key>PATH_TYPE</key>
						<integer>0</integer>
						<key>PERMISSIONS</key>
						<integer>493</integer>
						<key>TYPE</key>
						<integer>1</integer>
						<key>UID</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>CHILDREN</key>
						<array/>
						<key>GID</key>
						<integer>0</integer>
						<key>PATH</key>
						<string>Filesystems</string>
						<key>PATH_TYPE</key>
						<integer>0</integer>
						<key>PERMISSIONS</key>
						<integer>493</integer>
						<key>TYPE</key>
						<integer>1</integer>
						<key>UID</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>CHILDREN</key>
						<array/>
						<key>GID</key>
						<integer>0</integer>
						<key>PATH</key>
						<string>Frameworks</string>
						<key>PATH_TYPE</key>
						<integer>0</integer>
						<key>PERMISSIONS</key>
						<integer>493</integer>
						<key>TYPE</key>
						<integer>1</integer>
						<key>UID</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>CHILDREN</key>
						<array/>
						<key>GID</key>
						<integer>0</integer>
						<key>PATH</key>
						<string>Input Methods</string>
						<key>PATH_TYPE</key>
						<integer>0</integer>
						<key>PERMISSIONS</key>
						<integer>493</integer>
						<key>TYPE</key>
						<integer>1</integer>
						<key>UID</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>CHILDREN</key>
						<array/>
						<key>GID</key>
						<integer>0</integer>
						<key>PATH</key>
						<string>Internet Plug-Ins</string>
						<key>PATH_TYPE</key>
						<integer>0</integer>
						<key>PERMISSIONS</key>
						<integer>493</integer>
						<key>TYPE</key>
						<integer>1</integer>
						<key>UID</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>CHILDREN</key>
						<array/>
						<key>GID</key>
						<integer>0</integer>
						<key>PATH</key>
						<string>LaunchAgents</string>
						<key>PATH_TYPE</key>
						<integer>0</integer>
						<key>PERMISSIONS</key>
						<integer>493</integer>
						<key>TYPE</key>
						<integer>1</integer>
						<key>UID</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>CHILDREN</key>
						<array/>
						<key>GID</key>
						<integer>0</integer>
						<key>PATH</key>
						<string>LaunchDaemons</string>
						<key>PATH_TYPE</key>
						<integer>0</integer>
						<key>PERMISSIONS</key>
						<integer>493</integer>
						<key>TYPE</key>
						<integer>1</integer>
						<key>UID</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>CHILDREN</key>
						<array/>
						<key>GID</key>
						<integer>0</integer>
						<key>PATH</key>
						<string>PreferencePanes</string>
						<key>PATH_TYPE</key>
						<integer>0</integer>
						<key>PERMISSIONS</key>
						<integer>493</integer>
						<key>TYPE</key>
						<integer>1</integer>
						<key>UID</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>CHILDREN</key>
						<array/>
						<key>GID</key>
						<integer>0</integer>
						<key>PATH</key>
						<string>Preferences</string>
						<key>PATH_TYPE</key>
						<integer>0</integer>
						<key>PERMISSIONS</key>
						<integer>493</integer>
						<key>TYPE</key>
						<integer>1</integer>
						<key>UID</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>CHILDREN</key>
						<array/>
						<key>GID</key>
						<integer>80</integer>
						<key>PATH</key>
						<string>Printers</string>
						<key>PATH_TYPE</key>
						<integer>0</integer>
						<key>PERMISSIONS</key>
						<integer>493</integer>
						<key>TYPE</key>
						<integer>1</integer>
						<key>UID</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>CHILDREN</key>
						<array/>
						<key>GID</key>
						<integer>0</integer>
						<key>PATH</key>
						<string>PrivilegedHelperTools</string>
						<key>PATH_TYPE</key>
						<integer>0</integer>
						<key>PERMISSIONS</key>
						<integer>1005</integer>
						<key>TYPE</key>
						<integer>1</integer>
						<key>UID</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>CHILDREN</key>
						<array/>
						<key>GID</key>
						<integer>0</integer>
						<key>PATH</key>
						<string>QuickLook</string>
						<key>PATH_TYPE</key>
						<integer>0</integer>
						<key>PERMISSIONS</key>
						<integer>493</integer>
						<key>TYPE</key>
						<integer>1</integer>
						<key>UID</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>CHILDREN</key>
						<array/>
						<key>GID</key>
						<integer>0</integer>
						<key>PATH</key>
						<string>QuickTime</string>
						<key>PATH_TYPE</key>
						<integer>0</integer>
						<key>PERMISSIONS</key>
						<integer>493</integer>
						<key>TYPE</key>
						<integer>1</integer>
						<key>UID</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>CHILDREN</key>
						<array/>
						<key>GID</key>
						<integer>0</integer>
						<key>PATH</key>
						<string>Screen Savers</string>
						<key>PATH_TYPE</key>
						<integer>0</integer>
						<key>PERMISSIONS</key>
						<integer>493</integer>
						<key>TYPE</key>
						<integer>1</integer>
						<key>UID</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>CHILDREN</key>
						<array/>
						<key>GID</key>
						<integer>0</integer>
						<key>PATH</key>
						<string>Scripts</string>
						<key>PATH_TYPE</key>
						<integer>0</integer>
						<key>PERMISSIONS</key>
						<integer>493</integer>
						<key>TYPE</key>
						<integer>1</integer>
						<key>UID</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>CHILDREN</key>
						<array/>
						<key>GID</key>
						<integer>0</integer>
						<key>PATH</key>
						<string>Services</string>
						<key>PATH_TYPE</key>
						<integer>0</integer>
						<key>PERMISSIONS</key>
						<integer>493</integer>
						<key>TYPE</key>
						<integer>1</integer>
						<key>UID</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>CHILDREN</key>
						<array/>
						<key>GID</key>
						<integer>0</integer>
						<key>PATH</key>
						<string>Widgets</string>
						<key>PATH_TYPE</key>
						<integer>0</integer>
						<key>PERMISSIONS</key>
						<integer>493</integer>
						<key>TYPE</key>
						<integer>1</integer>
						<key>UID</key>
						<integer>0</integer>
					</dict>
				</array>
				<key>GID</key>
				<integer>0</integer>
				<key>PATH</key>
				<string>Library</string>
				<key>PATH_TYPE</key>
				<integer>0</integer>
				<key>PERMISSIONS</key>
				<integer>493</integer>
				<key>TYPE</key>
				<integer>1</integer>
				<key>UID</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>CHILDREN</key>
				<array>
					<dict>
						<key>CHILDREN</key>
						<array/>
						<key>GID</key>
						<integer>0</integer>
						<key>PATH</key>
						<string>Shared</string>
						<key>PATH_TYPE</key>
						<integer>0</integer>
						<key>PERMISSIONS</key>
						<integer>1023</integer>
						<key>TYPE</key>
						<integer>1</integer>
						<key>UID</key>
						<integer>0</integer>
					</dict>
				</array>
				<key>GID</key>
				<integer>80</integer>
				<key>PATH</key>
				<string>Users</string>
				<key>PATH_TYPE</key>
				<integer>0</integer>
				<key>PERMISSIONS</key>
				<integer>493</integer>
				<key>TYPE</key>
				<integer>1</integer>
				<key>UID</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>GID</key>
		<integer>0</integer>
		<key>PATH</key>
		<string>/</string>
		<key>PATH_TYPE</key>
		<integer>0</integer>
		<key>PERMISSIONS</key>
		<integer>493</integer>
		<key>TYPE</key>
		<integer>1</integer>
		<key>UID</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
