<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CHILDREN</key>
	<array>
		<dict>
			<key>CHILDREN</key>
			<array>
				<dict>
					<key>CHILDREN</key>
					<array/>
					<key>GID</key>
					<integer>80</integer>
					<key>PATH</key>
					<string>Utilities</string>
					<key>PATH_TYPE</key>
					<integer>0</integer>
					<key>PERMISSIONS</key>
					<integer>493</integer>
					<key>TYPE</key>
					<integer>-1</integer>
					<key>UID</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>GID</key>
			<integer>80</integer>
			<key>PATH</key>
			<string>Applications</string>
			<key>PATH_TYPE</key>
			<integer>0</integer>
			<key>PERMISSIONS</key>
			<integer>509</integer>
			<key>TYPE</key>
			<integer>1</integer>
			<key>UID</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>CHILDREN</key>
			<array>
			</array>
			<key>GID</key>
			<integer>0</integer>
			<key>PATH</key>
			<string>bin</string>
			<key>PATH_TYPE</key>
			<integer>0</integer>
			<key>PERMISSIONS</key>
			<integer>493</integer>
			<key>TYPE</key>
			<integer>-1</integer>
			<key>UID</key>
			<integer>0</integer>
		</dict>
		<dict>
				<key>CHILDREN</key>
				<array>
					<dict>
						<key>CHILDREN</key>
						<array/>
						<key>GID</key>
						<integer>0</integer>
						<key>PATH</key>
						<string>Audio</string>
						<key>PATH_TYPE</key>
						<integer>0</integer>
						<key>PERMISSIONS</key>
						<integer>493</integer>
						<key>TYPE</key>
						<integer>1</integer>
						<key>UID</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>CHILDREN</key>
						<array/>
						<key>GID</key>
						<integer>0</integer>
						<key>PATH</key>
						<string>ColorPickers</string>
						<key>PATH_TYPE</key>
						<integer>0</integer>
						<key>PERMISSIONS</key>
						<integer>493</integer>
						<key>TYPE</key>
						<integer>1</integer>
						<key>UID</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>CHILDREN</key>
						<array/>
						<key>GID</key>
						<integer>80</integer>
						<key>PATH</key>
						<string>Fonts</string>
						<key>PATH_TYPE</key>
						<integer>0</integer>
						<key>PERMISSIONS</key>
						<integer>1021</integer>
						<key>TYPE</key>
						<integer>1</integer>
						<key>UID</key>
						<integer>0</integer>
					</dict>
				</array>
				<key>GID</key>
				<integer>0</integer>
				<key>PATH</key>
				<string>Library</string>
				<key>PATH_TYPE</key>
				<integer>0</integer>
				<key>PERMISSIONS</key>
				<integer>493</integer>
				<key>TYPE</key>
				<integer>1</integer>
				<key>UID</key>
				<integer>0</integer>
			</dict>
		<dict>
			<key>CHILDREN</key>
			<array>
				<dict>
					<key>CHILDREN</key>
					<array>
					</array>
					<key>GID</key>
					<integer>0</integer>
					<key>PATH</key>
					<string>etc</string>
					<key>PATH_TYPE</key>
					<integer>0</integer>
					<key>PERMISSIONS</key>
					<integer>493</integer>
					<key>TYPE</key>
					<integer>-1</integer>
					<key>UID</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>CHILDREN</key>
					<array>
					</array>
					<key>GID</key>
					<integer>0</integer>
					<key>PATH</key>
					<string>var</string>
					<key>PATH_TYPE</key>
					<integer>0</integer>
					<key>PERMISSIONS</key>
					<integer>493</integer>
					<key>TYPE</key>
					<integer>-1</integer>
					<key>UID</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>GID</key>
			<integer>0</integer>
			<key>PATH</key>
			<string>private</string>
			<key>PATH_TYPE</key>
			<integer>0</integer>
			<key>PERMISSIONS</key>
			<integer>493</integer>
			<key>TYPE</key>
			<integer>-1</integer>
			<key>UID</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>CHILDREN</key>
			<array>
			</array>
			<key>GID</key>
			<integer>0</integer>
			<key>PATH</key>
			<string>sbin</string>
			<key>PATH_TYPE</key>
			<integer>0</integer>
			<key>PERMISSIONS</key>
			<integer>493</integer>
			<key>TYPE</key>
			<integer>-1</integer>
			<key>UID</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>CHILDREN</key>
			<array>
				<dict>
					<key>CHILDREN</key>
					<array>
						<dict>
							<key>CHILDREN</key>
							<array/>
							<key>GID</key>
							<integer>0</integer>
							<key>PATH</key>
							<string>Extensions</string>
							<key>PATH_TYPE</key>
							<integer>0</integer>
							<key>PERMISSIONS</key>
							<integer>493</integer>
							<key>TYPE</key>
							<integer>1</integer>
							<key>UID</key>
							<integer>0</integer>
						</dict>
					</array>
					<key>GID</key>
					<integer>0</integer>
					<key>PATH</key>
					<string>Library</string>
					<key>PATH_TYPE</key>
					<integer>0</integer>
					<key>PERMISSIONS</key>
					<integer>493</integer>
					<key>TYPE</key>
					<integer>1</integer>
					<key>UID</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>GID</key>
			<integer>0</integer>
			<key>PATH</key>
			<string>System</string>
			<key>PATH_TYPE</key>
			<integer>0</integer>
			<key>PERMISSIONS</key>
			<integer>493</integer>
			<key>TYPE</key>
			<integer>1</integer>
			<key>UID</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>CHILDREN</key>
			<array>
				<dict>
					<key>CHILDREN</key>
					<array/>
					<key>GID</key>
					<integer>0</integer>
					<key>PATH</key>
					<string>bin</string>
					<key>PATH_TYPE</key>
					<integer>0</integer>
					<key>PERMISSIONS</key>
					<integer>493</integer>
					<key>TYPE</key>
					<integer>-1</integer>
					<key>UID</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>CHILDREN</key>
					<array/>
					<key>GID</key>
					<integer>0</integer>
					<key>PATH</key>
					<string>include</string>
					<key>PATH_TYPE</key>
					<integer>0</integer>
					<key>PERMISSIONS</key>
					<integer>493</integer>
					<key>TYPE</key>
					<integer>-1</integer>
					<key>UID</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>CHILDREN</key>
					<array/>
					<key>GID</key>
					<integer>0</integer>
					<key>PATH</key>
					<string>lib</string>
					<key>PATH_TYPE</key>
					<integer>0</integer>
					<key>PERMISSIONS</key>
					<integer>493</integer>
					<key>TYPE</key>
					<integer>-1</integer>
					<key>UID</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>CHILDREN</key>
					<array>
						<dict>
							<key>CHILDREN</key>
							<array/>
							<key>GID</key>
							<integer>0</integer>
							<key>PATH</key>
							<string>bin</string>
							<key>PATH_TYPE</key>
							<integer>0</integer>
							<key>PERMISSIONS</key>
							<integer>493</integer>
							<key>TYPE</key>
							<integer>-1</integer>
							<key>UID</key>
							<integer>0</integer>
						</dict>
					</array>
					<key>GID</key>
					<integer>0</integer>
					<key>PATH</key>
					<string>local</string>
					<key>PATH_TYPE</key>
					<integer>0</integer>
					<key>PERMISSIONS</key>
					<integer>493</integer>
					<key>TYPE</key>
					<integer>-1</integer>
					<key>UID</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>CHILDREN</key>
					<array/>
					<key>GID</key>
					<integer>0</integer>
					<key>PATH</key>
					<string>sbin</string>
					<key>PATH_TYPE</key>
					<integer>0</integer>
					<key>PERMISSIONS</key>
					<integer>493</integer>
					<key>TYPE</key>
					<integer>-1</integer>
					<key>UID</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>CHILDREN</key>
					<array/>
					<key>GID</key>
					<integer>0</integer>
					<key>PATH</key>
					<string>share</string>
					<key>PATH_TYPE</key>
					<integer>0</integer>
					<key>PERMISSIONS</key>
					<integer>493</integer>
					<key>TYPE</key>
					<integer>-1</integer>
					<key>UID</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>GID</key>
			<integer>0</integer>
			<key>PATH</key>
			<string>usr</string>
			<key>PATH_TYPE</key>
			<integer>0</integer>
			<key>PERMISSIONS</key>
			<integer>493</integer>
			<key>TYPE</key>
			<integer>-1</integer>
			<key>UID</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>GID</key>
	<integer>0</integer>
	<key>PATH</key>
	<string>/</string>
	<key>PATH_TYPE</key>
	<integer>0</integer>
	<key>PERMISSIONS</key>
	<integer>493</integer>
	<key>TYPE</key>
	<integer>1</integer>
	<key>UID</key>
	<integer>0</integer>
</dict>
</plist>
